{{!< login}}

<article id="login" class="auth">
  <header>
    <h2>signin</h2>
  </header>
  <form action="/signin" method="post" class="local-login">
    <fieldset class="usermail">
      {{#if errorUsermail}}<div class="error"><mark>{{{ errorUsermail }}}</mark></div>{{/if}}
      <label for="usermail">{{{__ "singInP.signIn"}}}</label>
      <input type="text" name="usermail" required id="usermail" {{#if valueUsermail}}value="{{ valueUsermail }}"{{/if}}>
    </fieldset>
    <fieldset class="password">
      {{#if errorPassword}}<div class="error"><mark>{{ errorPassword }}</mark></div>{{/if}}
      <label for="password">{{{__ "singInP.password"}}}</label>
      <input type="password" name="password" id="password">
    </fieldset>
    <fieldset class="remember-me">
      <input type="checkbox" id="remember-me">
      <label for="remember-me">{{{__ "singInP.rememberMe"}}}</label>
    </fieldset>
    <fieldset class="footer submit">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <input type="submit" value="{{{__ "singInP.signIn"}}}">
      <a class="amnesia" href="/amnesia">{{{__ "singInP.forgotPassword"}}}</a>
    </fieldset>
  </form>

  <!--section class="oauth-login"></section-->

  {{> signup }}
</article>
