{{!< login}}

<article id="amnesia" class="auth">
  <h1>Auth express</h1>
  <h2>{{{__ "amnesiaL.reset"}}}</h2>

  {{#unless success}}
  <form action="/amnesia" method="post" class="local-login">
    <fieldset>
      <div><mark>{{ errorUsermail }}</mark></div>
      <label for="usermail">{{{__ "amnesiaL.userMail"}}}</label>
      <input type="text" name="usermail" id="usermail">
    </fieldset>
    <fieldset>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <input type="submit" value="{{{__ "amnesiaL.resetPassword"}}}">
      <a href="/signin">{{{__ "amnesiaL.signIn"}}}</a>
    </fieldset>
  </form>
  {{else}}
  <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
  <a href="/signin">Return to sign in</a>
  {{/unless}}

  {{> signup }}
</article>
