<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  {{{css}}}
</head>
<body>
  <main> {{{body}}} </main>

  <footer>
    <a href="/locale?locale=es{{#if redirectWhenLocale }}&redirect={{ redirectWhenLocale }}{{/if}}">español</a> | <a href="/locale?locale=en{{#if redirectWhenLocale }}&redirect={{ redirectWhenLocale }}{{/if}}">english</a>
  </footer>
  {{{js}}}
</body>
</html>
